/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 1000px) {
  aside {
    display: none;
  }
}

aside nav {
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
  padding: 1rem 0;
  font-size: 1.5rem;
  height: calc(100vh - 8rem);
  overflow-y: auto;
  background-color: #2A2A2A;
}

aside nav::-webkit-scrollbar {
  width: .5rem;
  background-color: transparent;
  padding: 1rem 0;
}

aside nav::-webkit-scrollbar-thumb {
  background: #444444;
  border: 3px solid #2A2A2A;
}

aside nav::-webkit-scrollbar-thumb:hover {
  border-width: 0;
}

aside nav .smool {
  font-size: 1rem;
}

aside nav .smool a span {
  overflow: hidden hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 1.5;
}

aside nav a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .75rem 1rem;
  border: 3px solid transparent;
}

aside nav a:hover {
  border: 3px solid #5d5d5d;
  background-color: #444444;
}

.home_link {
  padding: .25rem 0;
}

@media screen and (min-width: 1300px) {
  .bottom_nav {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .bottom_nav nav {
    margin: 3rem;
  }
}

.bottom_nav {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.bottom_nav nav {
  background-color: #2A2A2A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bottom_nav nav a {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom_nav nav a span {
  margin-top: .5rem;
}

.bottom_nav nav a img {
  height: 2rem;
}

h1 {
  font-size: 3rem;
  margin: 2rem 0;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

b {
  font-weight: bold;
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  background-color: #B5B5B5;
  color: #141414;
  word-wrap: break-word;
  padding: 1.5rem;
}

html {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(12px + 4 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

html, body {
  background-color: #141414;
  font-family: "Montserrat";
  color: #DFDFDF;
  line-height: 1.4;
}

main {
  margin: 1rem;
}

@media screen and (min-width: 1000px) {
  main {
    margin: 3rem;
  }
}

@media screen and (min-width: 1300px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(800px, 3fr) minmax(auto, 1fr);
        grid-template-columns: minmax(800px, 3fr) minmax(auto, 1fr);
    gap: 3rem;
  }
}

article {
  position: relative;
}

article section {
  margin: 3rem 0;
}

article p, article blockquote {
  font-size: 1.5rem;
}

article img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
