@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(15deg, #f2994a, #f2c94c);
  -webkit-perspective: 8000px;
          perspective: 8000px;
}

h1 {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

h3 {
  -webkit-margin-before: .5em;
          margin-block-start: .5em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 20vmin);
  height: calc(100% - 20vmin);
  position: relative;
}

.list-border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5.2px 5.8px rgba(0, 0, 0, 0.1), 0 12.6px 14px rgba(0, 0, 0, 0.072), 0 23.7px 26.3px rgba(0, 0, 0, 0.06), 0 42.2px 46.9px rgba(0, 0, 0, 0.05), 0 79px 87.7px rgba(0, 0, 0, 0.04), 0 189px 210px rgba(0, 0, 0, 0.028);
          box-shadow: 0 5.2px 5.8px rgba(0, 0, 0, 0.1), 0 12.6px 14px rgba(0, 0, 0, 0.072), 0 23.7px 26.3px rgba(0, 0, 0, 0.06), 0 42.2px 46.9px rgba(0, 0, 0, 0.05), 0 79px 87.7px rgba(0, 0, 0, 0.04), 0 189px 210px rgba(0, 0, 0, 0.028);
  -webkit-transition: opacity 0s 0.15s linear, -webkit-transform .3s ease-in-out;
  transition: opacity 0s 0.15s linear, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity 0s 0.15s linear;
  transition: transform .3s ease-in-out, opacity 0s 0.15s linear, -webkit-transform .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-content {
  width: calc(100% - 5vmin);
  height: calc(100% - 5vmin);
}

.front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.front .text {
  font-size: 2em;
  padding: 1em;
  color: black;
  text-align: right;
  font-family: "Reenie Beanie", "Dancing Script", cursive;
  z-index: 9;
}

.front .bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eee2b9;
}

.front .bg .tree {
  z-index: 3;
  position: absolute;
  left: 5%;
  top: 5%;
  height: 90%;
  max-width: 70%;
}

.front .bg .stars {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.front .bg .snow {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.front .bg .particles {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .6;
  overflow: hidden;
}

.particle {
  background: white;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  position: absolute;
}

.particle:nth-child(1) {
  left: 21.4234%;
  top: -10%;
  height: 13px;
  width: 13px;
  -webkit-animation: letItSnow 5.30622s -4.01491s linear infinite;
          animation: letItSnow 5.30622s -4.01491s linear infinite;
}

.particle:nth-child(2) {
  left: 47.83256%;
  top: -10%;
  height: 11px;
  width: 11px;
  -webkit-animation: letItSnow 5.40128s -1.22889s linear infinite;
          animation: letItSnow 5.40128s -1.22889s linear infinite;
}

.particle:nth-child(3) {
  left: 24.54162%;
  top: -10%;
  height: 24px;
  width: 24px;
  -webkit-animation: letItSnow 5.17163s -9.89633s linear infinite;
          animation: letItSnow 5.17163s -9.89633s linear infinite;
}

.particle:nth-child(4) {
  left: 7.32543%;
  top: -10%;
  height: 24px;
  width: 24px;
  -webkit-animation: letItSnow 5.45797s -7.2915s linear infinite;
          animation: letItSnow 5.45797s -7.2915s linear infinite;
}

.particle:nth-child(5) {
  left: 45.84491%;
  top: -10%;
  height: 27px;
  width: 27px;
  -webkit-animation: letItSnow 5.16136s -0.31853s linear infinite;
          animation: letItSnow 5.16136s -0.31853s linear infinite;
}

.particle:nth-child(6) {
  left: 95.4414%;
  top: -10%;
  height: 18px;
  width: 18px;
  -webkit-animation: letItSnow 5.3102s -0.98s linear infinite;
          animation: letItSnow 5.3102s -0.98s linear infinite;
}

.particle:nth-child(7) {
  left: 18.9661%;
  top: -10%;
  height: 16px;
  width: 16px;
  -webkit-animation: letItSnow 5.03718s -4.28439s linear infinite;
          animation: letItSnow 5.03718s -4.28439s linear infinite;
}

.particle:nth-child(8) {
  left: 83.69878%;
  top: -10%;
  height: 23px;
  width: 23px;
  -webkit-animation: letItSnow 5.1006s -5.48611s linear infinite;
          animation: letItSnow 5.1006s -5.48611s linear infinite;
}

.particle:nth-child(9) {
  left: 38.14146%;
  top: -10%;
  height: 20px;
  width: 20px;
  -webkit-animation: letItSnow 5.22748s -6.41856s linear infinite;
          animation: letItSnow 5.22748s -6.41856s linear infinite;
}

.particle:nth-child(10) {
  left: 35.56602%;
  top: -10%;
  height: 20px;
  width: 20px;
  -webkit-animation: letItSnow 5.03354s -4.83259s linear infinite;
          animation: letItSnow 5.03354s -4.83259s linear infinite;
}

.particle:nth-child(11) {
  left: 4.54261%;
  top: -10%;
  height: 13px;
  width: 13px;
  -webkit-animation: letItSnow 5.8682s -7.44293s linear infinite;
          animation: letItSnow 5.8682s -7.44293s linear infinite;
}

.particle:nth-child(12) {
  left: 14.77819%;
  top: -10%;
  height: 14px;
  width: 14px;
  -webkit-animation: letItSnow 5.6787s -0.48476s linear infinite;
          animation: letItSnow 5.6787s -0.48476s linear infinite;
}

.particle:nth-child(13) {
  left: 59.95756%;
  top: -10%;
  height: 17px;
  width: 17px;
  -webkit-animation: letItSnow 5.75925s -8.13904s linear infinite;
          animation: letItSnow 5.75925s -8.13904s linear infinite;
}

.particle:nth-child(14) {
  left: 10.88592%;
  top: -10%;
  height: 29px;
  width: 29px;
  -webkit-animation: letItSnow 5.09591s -6.11503s linear infinite;
          animation: letItSnow 5.09591s -6.11503s linear infinite;
}

.particle:nth-child(15) {
  left: 74.83854%;
  top: -10%;
  height: 17px;
  width: 17px;
  -webkit-animation: letItSnow 5.56874s -3.18808s linear infinite;
          animation: letItSnow 5.56874s -3.18808s linear infinite;
}

.particle:nth-child(16) {
  left: 48.15826%;
  top: -10%;
  height: 12px;
  width: 12px;
  -webkit-animation: letItSnow 5.51961s -1.87509s linear infinite;
          animation: letItSnow 5.51961s -1.87509s linear infinite;
}

.particle:nth-child(17) {
  left: 69.59193%;
  top: -10%;
  height: 25px;
  width: 25px;
  -webkit-animation: letItSnow 5.09413s -7.0147s linear infinite;
          animation: letItSnow 5.09413s -7.0147s linear infinite;
}

.particle:nth-child(18) {
  left: 12.15875%;
  top: -10%;
  height: 11px;
  width: 11px;
  -webkit-animation: letItSnow 5.68677s -9.99166s linear infinite;
          animation: letItSnow 5.68677s -9.99166s linear infinite;
}

.particle:nth-child(19) {
  left: 0.64318%;
  top: -10%;
  height: 16px;
  width: 16px;
  -webkit-animation: letItSnow 5.63929s -6.76982s linear infinite;
          animation: letItSnow 5.63929s -6.76982s linear infinite;
}

.particle:nth-child(20) {
  left: 38.28101%;
  top: -10%;
  height: 16px;
  width: 16px;
  -webkit-animation: letItSnow 5.19332s -9.09281s linear infinite;
          animation: letItSnow 5.19332s -9.09281s linear infinite;
}

.particle:nth-child(21) {
  left: 31.41217%;
  top: -10%;
  height: 26px;
  width: 26px;
  -webkit-animation: letItSnow 5.68422s -3.72814s linear infinite;
          animation: letItSnow 5.68422s -3.72814s linear infinite;
}

.particle:nth-child(22) {
  left: 13.10865%;
  top: -10%;
  height: 28px;
  width: 28px;
  -webkit-animation: letItSnow 5.72865s -3.57915s linear infinite;
          animation: letItSnow 5.72865s -3.57915s linear infinite;
}

.particle:nth-child(23) {
  left: 79.7157%;
  top: -10%;
  height: 17px;
  width: 17px;
  -webkit-animation: letItSnow 5.19434s -4.56038s linear infinite;
          animation: letItSnow 5.19434s -4.56038s linear infinite;
}

.particle:nth-child(24) {
  left: 83.01736%;
  top: -10%;
  height: 19px;
  width: 19px;
  -webkit-animation: letItSnow 5.8151s -9.97802s linear infinite;
          animation: letItSnow 5.8151s -9.97802s linear infinite;
}

.particle:nth-child(25) {
  left: 29.22789%;
  top: -10%;
  height: 18px;
  width: 18px;
  -webkit-animation: letItSnow 5.48478s -1.4017s linear infinite;
          animation: letItSnow 5.48478s -1.4017s linear infinite;
}

.particle:nth-child(26) {
  left: 63.12481%;
  top: -10%;
  height: 25px;
  width: 25px;
  -webkit-animation: letItSnow 5.03877s -7.667s linear infinite;
          animation: letItSnow 5.03877s -7.667s linear infinite;
}

.particle:nth-child(27) {
  left: 47.31191%;
  top: -10%;
  height: 20px;
  width: 20px;
  -webkit-animation: letItSnow 5.91427s -4.5448s linear infinite;
          animation: letItSnow 5.91427s -4.5448s linear infinite;
}

.particle:nth-child(28) {
  left: 20.67874%;
  top: -10%;
  height: 11px;
  width: 11px;
  -webkit-animation: letItSnow 5.97588s -3.43049s linear infinite;
          animation: letItSnow 5.97588s -3.43049s linear infinite;
}

.particle:nth-child(29) {
  left: 71.09448%;
  top: -10%;
  height: 24px;
  width: 24px;
  -webkit-animation: letItSnow 5.8438s -9.50907s linear infinite;
          animation: letItSnow 5.8438s -9.50907s linear infinite;
}

.particle:nth-child(30) {
  left: 20.67644%;
  top: -10%;
  height: 19px;
  width: 19px;
  -webkit-animation: letItSnow 5.33676s -4.70089s linear infinite;
          animation: letItSnow 5.33676s -4.70089s linear infinite;
}

.particle:nth-child(31) {
  left: 38.76385%;
  top: -10%;
  height: 20px;
  width: 20px;
  -webkit-animation: letItSnow 5.79119s -9.77448s linear infinite;
          animation: letItSnow 5.79119s -9.77448s linear infinite;
}

.particle:nth-child(32) {
  left: 60.84821%;
  top: -10%;
  height: 15px;
  width: 15px;
  -webkit-animation: letItSnow 5.07752s -6.4521s linear infinite;
          animation: letItSnow 5.07752s -6.4521s linear infinite;
}

.particle:nth-child(33) {
  left: 39.19798%;
  top: -10%;
  height: 25px;
  width: 25px;
  -webkit-animation: letItSnow 5.32061s -0.04138s linear infinite;
          animation: letItSnow 5.32061s -0.04138s linear infinite;
}

.particle:nth-child(34) {
  left: 54.73219%;
  top: -10%;
  height: 11px;
  width: 11px;
  -webkit-animation: letItSnow 5.35253s -4.23235s linear infinite;
          animation: letItSnow 5.35253s -4.23235s linear infinite;
}

.particle:nth-child(35) {
  left: 35.80776%;
  top: -10%;
  height: 30px;
  width: 30px;
  -webkit-animation: letItSnow 5.94077s -3.76586s linear infinite;
          animation: letItSnow 5.94077s -3.76586s linear infinite;
}

.particle:nth-child(36) {
  left: 46.48918%;
  top: -10%;
  height: 26px;
  width: 26px;
  -webkit-animation: letItSnow 5.52674s -2.62351s linear infinite;
          animation: letItSnow 5.52674s -2.62351s linear infinite;
}

.particle:nth-child(37) {
  left: 93.58381%;
  top: -10%;
  height: 17px;
  width: 17px;
  -webkit-animation: letItSnow 5.79525s -5.22974s linear infinite;
          animation: letItSnow 5.79525s -5.22974s linear infinite;
}

.particle:nth-child(38) {
  left: 88.53947%;
  top: -10%;
  height: 21px;
  width: 21px;
  -webkit-animation: letItSnow 5.25468s -0.65689s linear infinite;
          animation: letItSnow 5.25468s -0.65689s linear infinite;
}

.particle:nth-child(39) {
  left: 22.21582%;
  top: -10%;
  height: 18px;
  width: 18px;
  -webkit-animation: letItSnow 5.55174s -9.15347s linear infinite;
          animation: letItSnow 5.55174s -9.15347s linear infinite;
}

.particle:nth-child(40) {
  left: 12.1038%;
  top: -10%;
  height: 11px;
  width: 11px;
  -webkit-animation: letItSnow 5.36769s -1.05534s linear infinite;
          animation: letItSnow 5.36769s -1.05534s linear infinite;
}

.particle:nth-child(41) {
  left: 17.09743%;
  top: -10%;
  height: 25px;
  width: 25px;
  -webkit-animation: letItSnow 5.56444s -8.45193s linear infinite;
          animation: letItSnow 5.56444s -8.45193s linear infinite;
}

.particle:nth-child(42) {
  left: 36.03124%;
  top: -10%;
  height: 29px;
  width: 29px;
  -webkit-animation: letItSnow 5.84078s -0.49595s linear infinite;
          animation: letItSnow 5.84078s -0.49595s linear infinite;
}

.particle:nth-child(43) {
  left: 1.74299%;
  top: -10%;
  height: 12px;
  width: 12px;
  -webkit-animation: letItSnow 5.22862s -9.69959s linear infinite;
          animation: letItSnow 5.22862s -9.69959s linear infinite;
}

.particle:nth-child(44) {
  left: 59.63834%;
  top: -10%;
  height: 19px;
  width: 19px;
  -webkit-animation: letItSnow 5.80888s -1.77805s linear infinite;
          animation: letItSnow 5.80888s -1.77805s linear infinite;
}

.particle:nth-child(45) {
  left: 86.61267%;
  top: -10%;
  height: 30px;
  width: 30px;
  -webkit-animation: letItSnow 5.09134s -1.31212s linear infinite;
          animation: letItSnow 5.09134s -1.31212s linear infinite;
}

.particle:nth-child(46) {
  left: 66.78863%;
  top: -10%;
  height: 20px;
  width: 20px;
  -webkit-animation: letItSnow 5.93007s -9.53765s linear infinite;
          animation: letItSnow 5.93007s -9.53765s linear infinite;
}

.particle:nth-child(47) {
  left: 37.50221%;
  top: -10%;
  height: 20px;
  width: 20px;
  -webkit-animation: letItSnow 5.14005s -4.13429s linear infinite;
          animation: letItSnow 5.14005s -4.13429s linear infinite;
}

.particle:nth-child(48) {
  left: 29.33371%;
  top: -10%;
  height: 22px;
  width: 22px;
  -webkit-animation: letItSnow 5.82889s -4.82313s linear infinite;
          animation: letItSnow 5.82889s -4.82313s linear infinite;
}

.particle:nth-child(49) {
  left: 48.3016%;
  top: -10%;
  height: 16px;
  width: 16px;
  -webkit-animation: letItSnow 5.34453s -1.54626s linear infinite;
          animation: letItSnow 5.34453s -1.54626s linear infinite;
}

.particle:nth-child(50) {
  left: 57.245%;
  top: -10%;
  height: 23px;
  width: 23px;
  -webkit-animation: letItSnow 5.91092s -8.86383s linear infinite;
          animation: letItSnow 5.91092s -8.86383s linear infinite;
}

@-webkit-keyframes letItSnow {
  from {
    top: -10%;
  }
  to {
    top: 90%;
  }
}

@keyframes letItSnow {
  from {
    top: -10%;
  }
  to {
    top: 90%;
  }
}

.front-side {
  -webkit-transform: translateZ(0px) rotateY(-180deg);
          transform: translateZ(0px) rotateY(-180deg);
  opacity: 0;
  pointer-events: none;
  background: repeating-linear-gradient(-45deg, white 0, white 2em, red 2em, red 4em, white 4em, white 6em, blue 6em, blue 8em);
}

.front-side.active {
  -webkit-transform: translateZ(0px) rotateY(0deg);
          transform: translateZ(0px) rotateY(0deg);
  opacity: 1;
  pointer-events: all;
}

.back-side {
  -webkit-transform: translateZ(0px) rotateY(180deg);
          transform: translateZ(0px) rotateY(180deg);
  opacity: 0;
  pointer-events: none;
  background: repeating-linear-gradient(45deg, white 0, white 2em, red 2em, red 4em, white 4em, white 6em, blue 6em, blue 8em);
}

.back-side.active {
  -webkit-transform: translateZ(0px) rotateY(0deg);
          transform: translateZ(0px) rotateY(0deg);
  opacity: 1;
  pointer-events: all;
}

.back {
  background-color: #eee2b9;
  overflow-y: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1em 1fr 2fr 1em;
      grid-template-columns: 1em 1fr 2fr 1em;
  -ms-grid-rows: 1em 1fr 1em;
      grid-template-rows: 1em 1fr 1em;
  gap: 1em;
}

.back .images {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  border-right: 1px solid black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.back .images h1 {
  font-size: 5em;
  font-family: "Reenie Beanie", "Dancing Script", cursive;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.back .images img {
  width: 90%;
}

.back .images .stuff {
  display: none;
}

.back .content {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Reenie Beanie", "Dancing Script", cursive;
}

.back .content h2 {
  font-size: 3em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.back .content p {
  font-size: 2em;
}

.back .sign {
  font-size: 4em;
  text-align: right;
}

@media screen and (max-width: 800px) {
  .back {
    -ms-grid-columns: 1em 1fr 1em;
        grid-template-columns: 1em 1fr 1em;
    -ms-grid-rows: 1em 1fr 2fr 1em;
        grid-template-rows: 1em 1fr 2fr 1em;
  }
  .back .images {
    border: none;
  }
  .back .images img {
    width: 40%;
  }
  .back .images .stuff {
    display: block;
  }
  .back .content {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .back .content .stuff {
    display: none;
  }
}

.stuff {
  text-align: right;
}

.stuff img {
  width: 6rem !important;
  height: auto;
}
/*# sourceMappingURL=main.css.map */