.article_link {
    display: flex;
    cursor: pointer;
    align-items: stretch;
    flex-direction: column;

    margin: 1rem 0;
    padding: .75rem 1rem;

    border: 3px solid transparent;
    box-sizing: border-box;

    .line {
        height: 10rem;
        background-size: cover;
        background-position: center;
        transition: flex .3s ease;
    }

    .text {
        h2 {
            margin-block-start: 0;
        }
    }

    p {
        display: block;
        overflow: hidden hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        line-height: 1.5;
    }


    &:hover {
        border: 3px solid lighten($NAVBACKGROUND, 20%);
        background-color: lighten($NAVBACKGROUND, 5%);
    }
}

@media screen and (min-width: 1280px) {
    .article_link {
        flex-direction: row;

        .line {
            flex: 1;
        }

        .text {
            flex: 5;
            margin-left: 2rem;
        }
    }
}